
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap'); 
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf0ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;

}
body.dark{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}
body{
   
    line-height: 1.5;
    font-size: 16px;
    font-family: "poppins" sans-serif;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration:none ;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
   opacity: 1;
position: fixed;
left: 270px;
top: 0;
right: 0;
bottom: 0;
z-index: 0;
overflow-y: auto;
overflow-x:hidden;
transition: all 0.3s ease;
}
.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}
.section.back-section {
    z-index: 1;
}
@keyframes slideSection 
{
    0%{
        transform:translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}


.hidden{
    display: none !important;
}
/* .main-container{
    padding-left: 270px;
} */
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    display: flex;
    align-items: center;
   
    padding: 6px 13px; 
    color: white;
    /* display: inline-block; */
    font-weight: 700;
    white-space: nowrap;
    background: var(--skin-color);
    border-radius: 8px;
    transition: 0.5s;
    font-size: 16px;
    width:115px;
    margin-left: 10px;
    margin-top: 20px;
    font-family:"Montserrat";
   
}

.btn:hover {
    transform: scale(1.1);
}
.container{
    max-width: 1100px;
    width: 100%;
    /* background-color: #302e4d; */
    margin: auto;
}
.section .container{
    padding-bottom: 70px;
    padding-top: 60px;
}
.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    
}
.section-title h2 {
    font-size: 30px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before {
    content: " ";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left:0;
}
.section-title h2::after {
    content: " ";
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left:0;
    margin-top: 8px;
}

ul{
    list-style: none;
}

.aside .logo {
position: absolute;
top: 50px;
font-size: 30px;
text-transform: capitalize;
}
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
    justify-content: center;
    right: 0;
    z-index: 10;
    height: 100%;
    transition: all 0.3s ease;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
    font-family: 'Montserrat',sans-serif;
}

.aside .logo a span {
    font-family:"Monotype Corsiva",cursive;
    font-size: 50px;
color: var(--skin-color);   
}

.aside .logo a::before {
    content: " ";
    position:absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left:5px solid var(--skin-color) ;
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: " ";
    position:absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right:5px solid var(--skin-color) ;
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
 position: fixed;
left: 300px;
top: 20px;
border-radius: 5px;
background:var(--bg-black-100); 
display: none;
align-items: center;
justify-content: center;
transition: all 0.3s ease;

}

.aside .nav-toggler span::before {
    content: " ";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position:absolute;
    top: -6px;
    left: 0;   
     cursor: pointer;
}
.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}
.aside .nav-toggler span::after {
    content: " ";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position:absolute;
    top: 6px;
    left: 0;
}
.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}
.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav{
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
    font-family: "Montserrat",sans-serif;
}

.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active {
    color: var(--skin-color);
}
.aside .nav li a i {
    margin-right: 15px;
}

/*  Home*/

.home .home-img img {
    height: 350px;
    margin: auto;
    border-radius: 5px;
}

.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
     font-family: 'Montserrat', sans-serif; 
    /* font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

}
h3.hello span {
    font-family: 'Montserrat', sans-serif; 
    font-size: 30px;
   
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
    font-family: "Lora",sans-serif;
}
.typing {
    color: var(--skin-color);
    font-family: "Montserrat",sans-serif;
}
.home-info i{
margin-bottom: 70px;
font-size: 20px;
color: var(--text-black-700);

font-family: 'Lora', serif;
}
.home .home-info{
    flex: 0 0  60%;
    max-width: 60% ;
}
.home .home-img {
    flex: 0 0 100%;
    max-width: 30%;
  
text-align: center;
position: relative;
}

.home .home-img::after {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right:10px solid var(--skin-color) ;
    right: 10px;
    bottom: -20px;
}
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: 10px;
    top: -20px;
}


/*  About*/
.about-content {
    flex: 0 0 100%;
    max-width: 100%;
    
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
    
}

.about .section-title h2 {
    font-family:'Montserrat';
}
.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
    font-family:'Montserrat';
    
}
.about .about-content .about-text h3 span {
    color: var(--skin-color);
    font-family: "Montserrat";
   
}
.about .about-content .about-text i {
    font-size: 18px;
    line-height: 30px;
    
    color: var(--text-black-700);
    font-family:"Lora",sans-serif; 
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
 
    margin-top: 40px;
}
.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    
    margin-top: 40px;
}

.about .about-content .personal-info .info-items{
    flex: 0 0 50%;
    max-width: 50%;
    
}
.about .about-content .personal-info .info-items p {
    font-weight: 600;
    padding: 10px 1px;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 2px solid var(--bg-black-50);
    font-family:"Montserrat";
}
.about .about-content .personal-info .info-items p i {
    font-weight:500;
    color: var(--text-black-900);
    margin-left: 4px;
    display: inline-block;
    font-family: "Lora";
}
/* .about .about-content .personal-info  .btn{
    margin-top: 20px;
    margin-bottom: 50px;
}
.about .about-content .personal-info  .but .btn{
    
    
    margin-bottom: 20px;
} */
.about .about-content .skills .skill-item {

    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5 {

   line-height: 40px;
   font-weight: 600;
   font-size: 16px;
   color: var(--text-black-900);
   text-transform: capitalize;
   font-family: "Montserrat";

}
.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.about .about-content .skills .skill-item {
    margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in {
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-present{
    position:absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 600;
    line-height: 40px;
    font-family: "Lora";
}

.about .about-content .education{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}



.about .about-content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
    color: var(--text-black-900);
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    font-family:"Montserrat";
    
}
.about .about-content .timeline-box {
flex: 0 0 100%;
max-width: 100%;
}
.about .about-content .timeline {
   border: 1px solid var(--bg-black-50);
border-radius: 10px;
width: 100%;
position: relative;
   padding: 30px 15px;
}
.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46,77,0.15);
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 0px;

}
.about .about-content .timeline .timeline-tit {
   font-weight: 900;
}
.about .about-content .timeline .timeline-item :last-child {
    padding-bottom: 0;
}
 .about .about-content .timeline .timeline-item ::after{
     content: ""; 
    width: 2px;
     position:absolute; 
     height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color); 
} 

.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: var(--text-black-900);
    font-family:"Montserrat";
}
.about .about-content .timeline .timeline-text  {
    font-size: 16px;
    margin-bottom: 2px;
    text-align: justify;
    color: var(--text-black-700);
    font-family:"Lora";
    
}
.about .about-content .timeline .timeline-text i  {
    font-size: 16px;
    margin-bottom: 22px;
    text-align: justify;
    color: var(--text-black-700);
    font-family:"Lora";
    
}

/* .about .about-content .timeline .circle-dot {
    position:absolute;
    left: 0px;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);

} */
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-top: 22px;
    color: var(--text-black-700);
    font-family: "Lora";
}

.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    margin-top: -50px;
    font-family:;
}
.portfolio .portfolio-heading h2 {
    color: var(--text-black-900);
    font-weight: 600;
    font-family:'Montserrat';
    margin-top: 10px;
     
}
.portfolio .section-title {
font-family: "Montserrat";

}
.portfolio .portfolio-heading h3 {
    color: var(--text-black-900);
    font-weight: 600;
    font-family:'Montserrat';
    margin-bottom: 0px;
    margin-left: 220px;
    padding-top: 30px;
    font-size:x-large;
   border-width:thin;
  
}
.portfolio .portfolio-heading span{
    font-weight: 600;
    margin-left: 20px;
}

.portfolio.section-title h2 {
font-family:'Montserrat';

}

.portfolio .container {
    padding-bottom:10px ;
    margin-left: 0px;
  
 
}
.portfolio .portfolio-item{
    flex: 0 0  33 .33%;
    max-width: 43.33%;
    margin-bottom: 90px;
    margin-left: 90px ;
    margin-right: 0px;
   
}
.portfolio .portfolio-item-inner{
    border: 10px solid var(--bg-black-100);
    border-radius: 10px;
    /* overflow: hidden; */
    cursor: pointer;
}
.portfolio .portfolio-item .link {
    position: absolute;
    height: 20px;
    font-weight: 700;
    padding: 0px 20px;
    background: var(--skin-color);
    color:white;
    border-radius: 5px;
    margin-left: 150px;
 
    transition: 2 s;
    margin-top: 50px;
   
    
}
.portfolio .portfolio-item.link:hover{
    transform: scale(1.2);
   
}

.portfolio .portfolio-item-inner .portfolio-img img {
    width: 100%;
    display: block;
    transition: all 0.3s ease;

  

}
.portfolio .portfolio-item-inner .portfolio-img :hover {
    transform: scale(1.3);
    border-radius: 5px;
}

/* .portfolio .portfolio.section .border{
    
} */
/* .gmail{
    border-bottom: 2px solid var(--skin-color);
} */
/* CONTACT */

.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
   font-family:"Montserrat";
}
.contact .section-title h2 {
    font-family:'Montserrat';
}

.contact-sub-title  {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom:60px;
    font-family: "Lora";
    font-weight: 600;
}

.contact .contact-info-item {
    /* flex: 0 0 20%;
    max-width: 150%; */
    text-align: center;
    margin-right: 30px;
    margin-left: 228px;
    margin-bottom: 60px;
       
}

.contact .contact-info-item .icon {
    display: inline-block;
}
.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item h4{
    font-size: 17px;
    line-height: 25px;
    color:var(--text-black-900);
    font-weight: 600;
    font-family: "Montserrat";
}
.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 600;
}

.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px ;
    font-size: 15px;
    color:var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46,77,0.25);
}

.contact .contact-form .form-item textarea.form-control {
    height: 100px;
}

@media (max-width :1199px) {
    .aside{
        left : -270px
    }
    .aside.open {
        left:0;
    }
    .section.container{
        padding-top: 70px;
    }
    
    .aside .nav-toggler{
        display: flex;
        left: 30px;
    }
    .aside .nav-toggler.open{
        left: 300px;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 270px;
    }
    .about .about-content .personal-info .form-item p span {
        display: block;
        margin-left: 0;
    }
    
}
@media (max-width:650px) {
    .home ,
    .home.content.detail.sci li a,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
  
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img {
      
        margin-top: 35px;
        margin-left: 300px;
    }
    
   
    .sci li a{
        /* margin-left: 130px;
        margin-bottom: 190px; */
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -113px;
        bottom: -10px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -5px;
    top: -20px;
}
    
.content {
    position: absolute;
   width: 100%;
   height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 00px;
     padding-left:320px ;
  }
  .content .detail {
    display: flex;
    
    align-items:flex-start;
    flex-direction:row;
    text-align: center;
    margin-left: 00px;
}

}
@media (max-width:600px){
   
    .home.content.detail.sci,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home.content{
       margin-top: 80px;
    }
    .portfolio .portfolio-item{
       max-width: 100%;
       flex: 0 0 60%;
    }
    .portfolio .portfolio-item{
        margin-right: 20px;
        flex: 0 0 65%;
        max-width: 85%;
        margin-left: 20px;
    }
    .contact .contact-info-item {
        text-align: center;
        margin-right: 0px;
        margin-left: 20px;
        margin-bottom: 60px;
    }
   
    .home .home-img {
       
        margin-top: 120px;
        margin-left: 30px;
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -125px;
        bottom: -15px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -10px;
    top: -20px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  
     padding-right:00px ;
     margin-right: 80px;
     margin-left: -220px;
   
  }
   
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    text-align: center;
    margin-left: 150px;
    margin-top: 170px;
}
.about .about-content .experience{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
    color: var(--text-black-900);
}
.about .about-content .education{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
}
  
}
@media (max-width:550px){
   
    .home.content.detail.sci,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home.content{
       margin-top: 80px;
    }
    .portfolio .portfolio-item{
        margin-right: 20px;
        flex: 0 0 65%;
        max-width: 85%;
        margin-left: 20px;
    }
    .portfolio .container{
        margin-right: 30px;
    }
    .h3.hello span{
        margin-left: 90px;
       
    }
    .home .home-img {
       
        margin-top: 140px;
        margin-left: 30px;
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -137px;
        bottom: -15px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -10px;
    top: -20px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  
    margin-top: 6px;
     margin-right: 40px;
     margin-left:-160px;
   
  }
   
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    text-align: center;
    margin-left: 250px;
    margin-top: 190px;
}
.about .about-content .experience{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
    color: var(--text-black-900);
}
.about .about-content .education{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
}
  
  
}
@media (max-width:500px){
   
    .home.content.detail.sci,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home.content{
       margin-top: 80px;
    }
    .h3.hello span{
        margin-left: 90px;
       
    }
    .portfolio .portfolio-item{
        margin-right: 20px;
        flex: 0 0 65%;
        max-width: 100%;
        margin-left: -0px;
    }
    .about .about-content .personal-info .info-items{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img {
       
        margin-top: 140px;
        margin-left: 60px;
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -157px;
        bottom: -10px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -10px;
    top: -20px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  
    margin-top: 60px;
     margin-right: 80px;
     margin-left: -80px;
   
  }
   
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    text-align: center;
    margin-left: 250px;
    margin-top: 190px;
}
.about .about-content .experience{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
    color: var(--text-black-900);
}
.about .about-content .education{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
}
  
  
}
@media (max-width:470px){
   
    .home.content.detail.sci,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home.content{
       margin-top: 80px;
    }
    .h3.hello span{
        margin-left: 50px;
       
    }
    .about .about-content .personal-info .info-items{
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .contact .contact-info-item{
        margin-left: 10px;
    }
    .portfolio .portfolio-item{
        margin-right: 20px;
        flex: 0 0 65%;
        max-width: 100%;
        margin-left: -20px;
    }
    .portfolio .container{
        margin-right: 30px;
    }
    .home .home-img {
       
        margin-top: 120px;
        margin-left: 50px;
        display: none;
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -195px;
        bottom: -10px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -10px;
    top: -20px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  
    margin-top: 100px;
     margin-right: 60px;
     margin-left: -100px;
   
  }
   
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    text-align: center;
    margin-left: 250px;
    margin-top: px;
}
.about .about-content .experience{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
    color: var(--text-black-900);
}
.about .about-content .education{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
}
  
  
}
@media (max-width:450px){
   
    .home.content.detail.sci,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home.content{
       margin-top: 80px;
    }
    .h3.hello span{
        margin-left: 50px;
       
    }
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: -60px;
    }
   
    .about .about-content .timeline-box {
        flex: 0 0 120%;
        max-width: 120%;
        }

    .about .about-content .personal-info .info-items{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .contact-info-item{
        margin-left: -0px;
    }
    .portfolio .portfolio-item{
        margin-right: 90px;
    }
    .portfolio .portfolio-item{
        margin-right: 20px;
        flex: 0 0 25%;
        max-width: 100%;
        margin-left: -20px;
    }
    .portfolio .container{
        margin-right: 30px;
    }
    .home .home-img {
       
        margin-top: 120px;
        margin-left: 50px;
        display: none;
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -195px;
        bottom: -10px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -10px;
    top: -20px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  
    margin-top: 80px;
     margin-right:0px;
     margin-left: -20px;
   
  }
   
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    text-align: center;
    margin-left: 250px;
    margin-top: px;
}
.about .about-content .experience{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
    color: var(--text-black-900);
}
.about .about-content .education{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
}

  
  
}
@media (max-width:460px){
   
    .home.content.detail.sci,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home.content{
       margin-top: 80px;
    }
    .h3.hello span{
        margin-left: 50px;
       
    }
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: -60px;
    }
   
    .about .about-content .timeline-box {
        flex: 0 0 120%;
        max-width: 120%;
        }

    .about .about-content .personal-info .info-items{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .contact-info-item{
        margin-left: -0px;
    }
    .portfolio .portfolio-item{
        margin-right: 90px;
    }
    .portfolio .portfolio-item{
        margin-right: 20px;
        flex: 0 0 25%;
        max-width: 100%;
        margin-left: -20px;
    }
    .portfolio .container{
        margin-right: 30px;
    }
    .home .home-img {
       
        margin-top: 120px;
        margin-left: 50px;
        display: none;
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -195px;
        bottom: -10px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -10px;
    top: -20px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  
    margin-top: 80px;
     margin-right:0px;
     margin-left: -20px;
   
  }
   
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    text-align: center;
    margin-left: 250px;
    margin-top: px;
}
.about .about-content .experience{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
    color: var(--text-black-900);
}
.about .about-content .education{
    flex: 0 0 85%;
    max-width: 85%;
    margin-top: 30px;
}

  
  
}

@media (max-width:400px){
   
    .home.content.detail.sci,
    .contact .contact-form .col-6 ,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home.content{
       margin-top: 80px;
    }
    .h3.hello span{
        margin-left: 50px;
       
    }
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: -60px;
    }
   
    .about .about-content .timeline-box {
        flex: 0 0 120%;
        max-width: 120%;
        }

    .about .about-content .personal-info .info-items{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact .contact-info-item{
        margin-left: -0px;
    }
    .portfolio .portfolio-item{
        margin-right: 90px;
    }
    .portfolio .portfolio-item{
        margin-right: 20px;
        flex: 0 0 100%;
        max-width: 120%;
        margin-left: -35px;
    }
    .portfolio .container{
        margin-right: 30px;
    }
    .home .home-img {
       
        margin-top: 120px;
        margin-left: 50px;
        display: none;
    }
    .home .home-img::after {
        content: " ";
        position:absolute;
        height: 80px;
        width: 80px;
        border-bottom: 10px solid var(--skin-color);
        border-right:10px solid var(--skin-color) ;
        right: -195px;
        bottom: -10px;
    }
    
.home .home-img::before {
    content: " ";
    position:absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left:10px solid var(--skin-color) ;
    left: -10px;
    top: -20px;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  
    margin-top: 80px;
     margin-right:0px;
     margin-left: -20px;
   
  }
   
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    text-align: center;
    margin-left: 250px;
    margin-top: px;
}
.about .about-content .experience{
    flex: 0 0 90%;
    max-width: 90%;
    margin-top: 30px;
    color: var(--text-black-900);
}
.about .about-content .education{
    flex: 0 0 90%;
    max-width: 90%;
    margin-top: 30px;
}

  
  
}





 .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 700px;
   
    
   
  } 
  
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: -600px;
    margin-bottom: -350px;
     
  }
  
 
  
  .sci {
    position: relative;
    display: flex;
    margin-top: 5px;
  }
  
  .sci li {
    list-style: none;
    margin:50px;
    
  }
  
  .sci li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color:var(--skin-color);
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: -20px;
  }
  
  .sci li a:hover {
    /* background: #03a9f4; */
    background:var(--text-black-700);
    color:var(--bg-black-900);
  }
  .live{
      display: flex;
           
      justify-content: space-between;
    
  }
  .live a{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: 5px;
      height: 20px;
      width: 80px;
      background-color: var(--skin-color);
      color:white;
      margin-top: 35px;
      font-weight: 700;
      border-radius: 5px;
      transition: all 0.5s;
  }
  .live a:hover{
      transform: scale(1.3);
      color: #03a9f4;
  }


  .card-name{
      font-weight:900;
      font-size: 24px;
      color: var(--skin-color);
      display: flex;
      justify-content: center;
     font-family: "Montserrat";
     margin-bottom: 30px;
     
     border-radius: 1rem;
     position: relative;
  }
  